{{define "myaddress_page"}}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/static/css/mystyle.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/public.js"></script>
    <title>收货地址</title>
</head>
<body>

<!-- 导航条 -->
{{template "navi"}}

<!-- 头部 -->
{{template "header"}}

<!-- 主体-->
{{template "myaddress_main"}}

<!-- 尾部-->
{{template "footer"}}

<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/writeorder_main.js"></script>
</body>
</html>
{{end}}