{{/*<%@ page language="java" contentType="text/html; charset=utf-8"*/}}
{{/*pageEncoding="utf-8"%>*/}}
{{/*<%@page import="com.chicken.util.C"%>*/}}
{{define "pay_page"}}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
    <link href="/static/css/mystyle.css" type="text/css" rel="stylesheet">
    <title>支付订单</title>

</head>
<body>

{{/*<%*/}}
{{/*//避免重复支付*/}}
{{/*session.setAttribute(C.PAY_TOKEN, true);*/}}
{{/*%>*/}}

<!-- 导航条 -->
{{template "navi"}}

<!-- 头部 -->
{{template "header"}}

<!-- 主体-->
{{template "pay_main"}}

<!-- 尾部-->
{{template "footer"}}

<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/pay_main.js"></script>
</body>
</html>
{{end}}