{{define "shopinfo_page"}}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
    <link href="/static/css/mystyle.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/public.js"></script>
    <title>店铺信息</title>
</head>
<body>

<!-- 导航条 -->
{{template "navi"}}

<!-- 头部 -->
{{template "header"}}

<!-- 主体-->
{{template "shopinfo_main"}}

<!-- 尾部-->
{{template "footer"}}

<script type="text/javascript" src="/static/js/public.js"></script>
<script src="/static/js/shopinfo_main.js"></script>
</body>
</html>
{{end}}