{{define "writeorder_page"}}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
    <link href="/static/css/mystyle.css" type="text/css" rel="stylesheet">
    <title>填写订单</title>

</head>
<body>
<!-- 导航条 -->
{{template "navi"}}

<!-- 头部 -->
{{template "header"}}

<!-- 主体-->
{{template "writeorder_main" .}}

<!-- 尾部-->
{{template "footer"}}

<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/writeorder_main.js"></script>
</body>
</html>
{{end}}