{{define "hotshow"}}

<div class="maindiv2">

    <div class="slider" style="margin-bottom:10px;">
        <div id="lofslidecontent45" class="lof-slidecontent">
            <div class="preload"><div></div></div>
            <!-- MAIN CONTENT -->
            <div class="lof-main-outer">
                <ul class="lof-main-wapper">
                    <li><img src="/static/img/advers/adver1.jpg"/></li>
                    <li><img src="/static/img/advers/adver2.jpg"/></li>
                    <li><img src="/static/img/advers/adver3.jpg"/></li>
                    <li><img src="/static/img/advers/adver4.jpg"/></li>
                </ul>
            </div>
            <div class="lof-navigator-wapper">
                <div class="lof-navigator-outer">
                    <ul class="lof-navigator">
                        <li><span>1</span></li>
                        <li><span>2</span></li>
                        <li><span>3</span></li>
                        <li><span>4</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--slider-->

    <img src="/static/css/img/hot.png">
    <hr>


    <ul class="mainul">
        <!-- 8本热销书缩略图 -->
        <!----------------- 生成1本热销书缩略图 ----------------------->
        {{/*{{.}}*/}}
        {{range .}}
            <li>
                <div>
                    <a href="DetailClServlet?dowhat=findDetail&Bid={{.Bid}}" target="_blank"><img src="/static/img/books/{{.Bimage}}"></a>
                </div>
                <div>
                    <font class="price1">{{.Bprice}}</font><br>
                    <font class="bookname1">{{.Bname}}</font><br>
                    <a href="SearchClServlet?dowhat=searchByKey&way=byPageFirst&key={{.Sname}}&refer=Bid&pageCount=1&pageNow=1&pageFrom=1&pageTo=1" class="shopname1">{{.Sname}}</a>
                </div>
                <div>
                    <div>
                        <span class="tradenum1">成交&nbsp;&nbsp;<font
                                class="font_bold_pink">{{.Bsalednum}}笔</font></span>
                    </div>
                    <div>
                        <span class="commentnum1">评价&nbsp;&nbsp;
                        <font class="font_bold_blue">{{.Bcommentnum}}</font></span>
                    </div>
                </div>
            </li>
        {{end}}
    </ul>
</div>

{{end}}