{{define "searchshow"}}



    <!-- 搜索书籍结果 -->
    <ul class="mainul">
        {{/*{{.}}*/}}
        <!--根据检索后记录数n,生成n本书的缩略图 -->
        {{range .}}
            <li>
                <div>
                    <a href="detail?dowhat=findDetail&Bid={{.Bid}}" target="_blank"><img src="/static/img/books/{{.Bimage}}"/></a>
                </div>
                <div>
                    <font class="price1">￥{{.Bprice}}</font><br>
                    <font class="bookname1">{{.Bname}}</font><br>
                    <a href="#" class="shopname1">{{.Sname}}</a>
                </div>
                <div>
                    <div>
                            <span class="tradenum1">成交&nbsp;&nbsp;<font
                                    class="font_bold_pink">{{.Bsalednum}}笔</font></span>
                    </div>
                    <div>
                            <span class="commentnum1">评价&nbsp;&nbsp;
                            <font class="font_bold_blue">{{.Bcommentnum}}</font></span>
                    </div>
                </div>
            </li>
        {{end}}
    </ul>
{{end}}