<%@ page language="java" contentType="text/html; charset=utf-8"
pageEncoding="utf-8"%>

<!-- 步骤名称 -->
<div style="text-align: center">
    <div class="stepname">查看购物车</div>
    <div class="stepname">填写订单</div>
    <div class="stepname">支付</div>
    <div class="stepname">确认收货</div>
    <div class="stepname">评价</div>
    <div class="stepname">完成</div>
</div>

<!-- 步骤进度 -->
<div style="text-align: center">
    <div class="stepcircle"><span>1</span></div>
    <div class="stepbar"></div>
    <div class="stepcircle"><span>2</span></div>
    <div class="stepbar"></div>
    <div class="stepcircle"><span>3</span></div>
    <div class="stepbar"></div>
    <div class="stepcircle"><span>4</span></div>
    <div class="stepbar"></div>
    <div class="stepcircle"><span>5</span></div>
    <div class="stepbar"></div>
    <div class="stepcircle"><span>6</span></div>
</div>